  body {
    background : #f9bdbd;
    display: flex;
    min-height: 100vh;
      height:100%;
    flex-direction: column;
      text-align:center;
  }

  main {
    flex: 1 0 auto;
  }
  
  .main {
      height: 60vh;
  }

h1{
    background : white;
}

nav a{
    position:relative;
    display: inline-block;
    font-family: 'Lobster', cursive;
    color: rgb(0,153,204);
}

h1, h2, h3{
    font-family: 'Lobster', cursive;
    font-size: 28px;
    text-align: center;
}

footer{
    margin: auto;
    bottom:0px;
    position: fixed;
    font-size: 10px;
    width: 100%;
    height:50px;
    text-align: center;
}

.page-footer .footer-copyright .container{
    color:black;
}

#bloc_connexion{
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -250px;
    margin-top: -150px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    background: white;
    opacity: 0.8;
    display: inline-block;
}

#bloc_search{
    position: relative;
    margin-top: 1px;
    margin-left: 5px;
    width: 20%;
    box-shadow: 5px 5px 5px black;
    background: white;
    float: left;
}

#vinebody{
    width: 75%;
    margin-top: 1px;
    min-height: 80%;
    margin-left: 22%;
    padding: 5px;
    background: white;
}

.card{
    top: auto;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: inline-block;
}

.card a{
    color:darksalmon;
}
